{% extends "layout.html" %}
{% block body %}
<br>
<a href="/Form1/1"><button type="submit" class="btn btn-primary btn-block" >
    1er Semestre
</button></a>
<br>
<a href="/Form1/2"><button type="submit" class="btn btn-primary btn-block" >
    2do Semestre
</button></a>
<br>
<a href="/Form1/3"><button type="submit" class="btn btn-primary btn-block" >
    3er Semestre
</button></a>
<br>
<a href="/Form1/4"><button type="submit" class="btn btn-primary btn-block" >
    4to Semestre
</button></a>
<br>
<a href="/Form1/5"><button type="submit" class="btn btn-primary btn-block" >
    5to Semestre
</button></a>
<br>
<a href="/Form1/6"><button type="submit" class="btn btn-primary btn-block" >
    6to Semestre
</button></a>
<br>
<a href="/Form1/7"><button type="submit" class="btn btn-primary btn-block" >
    7mo Semestre
</button></a>
<br>
<a href="/Form1/8"><button type="submit" class="btn btn-primary btn-block" >
    8vo Semestre
</button></a>
<br>
<a href="/Form1/9"><button type="submit" class="btn btn-primary btn-block" >
    9no Semestre
</button></a>
<br>
<a href="/Form1/10"><button type="submit" class="btn btn-primary btn-block" >
    10mo Semestre
</button></a>
{% endblock %}
